.project-container {
    width: 100%;
    position: relative;
    cursor: pointer;

    /*  padding: 2rem; */
    /* background-color: red; */
    min-height: 30rem;
}

.project-container__img {
    height: 100%;
    transition: all 1s ease;
    width: 100%;


}

.project-container__img img {
    height: 100%;


}

.project-container__text {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    opacity: 0;
    transition: all 1s ease;
    padding: 2rem;
    height: 100%;
    font-size: 1rem;

}


.project-container__text h2 {
    font-size: 1.2rem;
    font-family: var(--font-ppal);
}

.project-container__text h2,
.project-container__text p {
    /*  padding: 0.8rem; */

}

.project-container__text p {
    padding-bottom: 3rem;
    font-family: var(--font-ppal);
}

.project-container:hover .project-container__text {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border: thin solid white;
}

/* .project-container:hover .project-container__img {
    background-color: rgba(0, 0, 0, 0.5);
    

} */

.project-container__text h2 {
    padding: 1rem;
}

.link-site {
    transition: all 0.5s ease;
}

.link-site:hover {
    scale: 1.2;

}

/* .btn-project {
    width: 3rem;
    font-family: var(--font-ppal);
}

.btn-project:hover {

    background-color: var(--yellow-2);
} */

.project-links {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width:800px) {
    .project-container {
        height: 30rem;
    }

    .project-container__text h2 {
        font-size: 1.5rem;
    }

    .project-container__text p {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }

}